<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.waibao.qualityCertification">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DataReviewDetail"></activity>
        <activity android:name=".activity.DataUpload" />
        <activity android:name=".activity.DataReview" />
        <activity android:name=".activity.QueryCertificate" />
        <activity android:name=".activity.UserReview" />
        <activity android:name=".activity.PlatformMonitor" />
        <activity android:name=".activity.UpdatePassword" />
        <activity android:name=".activity.PublicSearch" />
        <activity
            android:name=".activity.StartActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RecoverPasswordActivity" />
        <activity android:name=".activity.AdvicesActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.UserHelp" />
    </application>

</manifest>